
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: large;  
}
li{
  float: right;
  padding-top: 10px;
}
a:hover{
  color:darkred;
  
}
#unrest{
  float: left;
  padding-left: 10px;

}
img{
  height: 30px;
  padding-right:  20px;
}
#rest{
  padding-left: 40px;
}
a{
  display: block;
  padding: 10px;
  color:sienna;
  text-decoration: none;
}
body{

  background-image: url(src/components/IMG_20240511_154414_1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.footer{
  opacity:0.5;
  background-color:gainsboro;
  padding: 10px;
  position: relative;
  width: 100%;
  text-align: center;
}

.container1{
  display: block;
  background-color:rgba(83, 104, 113, 0.375);
  min-height: 110vh;
  text-align: center;
  padding-top: 50px;
  
}
.container2{
  display: block;
  background-color:rgba(121, 172, 192, 0.375);
  min-height: 95vh;
  text-align: center;
  padding-top: 100px;
  
  
}
.container3{
  display: block;
  background-color:rgba(121, 172, 192, 0.375);
  min-height: 95vh;
  text-align: center;
  padding-top: 100px;
  
}
.cards{
  display: inline-flex;
  
  
}
.eachcard{
  padding:20px;
  margin: 20px;
  width:300px;
  height:250px;
  background-color:rgba(5, 5, 5, 0.571);;
  border-radius: 60px;
  align-items: center;
  text-align: center;
}
#javalogo{
  height: 200px;
  padding: 0px;
  
  margin: 0px;
  border:1px;
  
}
#clogo{
  height: 200px;
  padding: 0px;
  
  margin: 0px;
  border:1px;
  
}
#reactlogo{
  height: 200px;
  padding-left: 0px;
  margin: 0px;
  border:1px;
  border-style: dashed;
  
}
h3{
  color: aliceblue;
}
#skill{
  color: rgba(30, 65, 153, 0.601);
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.793);
  max-width: fit-content;
  margin-left: 850px;
  border-radius: 20px;
  padding: 10px;
}
#home{ 
 color:darkslategray;
 opacity: 0.8;
 font-size: 50px;
 background-color: rgba(249, 248, 248, 0.783);
 width: 550px;
 height: 100px;
 border-radius: 20px;
 padding:15px;
 margin-top: 380px;
 margin-left: 600px;
}


#heading{
  padding: 20px;
  color: aliceblue;
}

.about{
  background-color:rgba(121, 172, 192, 0.375);
  min-height: 89vh;

}

.contact{
  background-color:rgba(121, 172, 192, 0.375);
  min-height: 89vh;
}

.box1{
  height: 350px;
  width:1000px;
  padding: 50px;
  color: aliceblue;
  background-color: rgba(89, 107, 114, 0.608);
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
  
}
#myphoto{
 
  height: 100%;
  width: 100%;
  border: 0px;
 
  overflow-x: hidden;
}
.box2{
  display: block;
  height: 400px;
  margin-left: 200px;
  max-width:fit-content;
}
.section1{
  display: flex;
  
}
.section2{
  font-size: 1000px;
}

